/* =================reset css========================= */

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  /* 移动端布局常用非固定像素 */
  box-sizing: border-box;
  /* 考虑兼容 */
  -webkit-box-sizing: border-box;
  /* 点击高亮效果的清除（也可以设置） */
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 14px;
  font-family: 'Microsoft YaHei', sans-serif;
  color: #333;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  /* a链接默认的字体颜色是蓝色的。。。 */
  color: #333;
}

input,
textarea {
  border: none;
  outline: none;
  /* 不允许改变输入区域的尺寸 */
  resize: none;
  /* 元素的外观 none表示没有任何样式 */
  -webkit-appearance: none;
}

/* ======================common css============= */

.f_left {
  float: left;
}

.f_right {
  float: right;
}

.clearFix::before,
.clearFix::after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both
}

.m_l10 {
  margin-left: 10px;
}

.m_r10 {
  margin-right: 10px;
}

[class ^='icon_'], [class *=' icon_'] {
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
